<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--Injecting Values from a Properties File/loading the properties file-->
    <context:property-placeholder location="classpath:sport.properties"

    <!-- Define your beans here -->

    <bean id="myFortuneService"
          class="C:\Users\F5390087\OneDrive - FRG\Documents\Spring and Hibernate For Beginners\Training\src\main\java\HappyFortuneService.java"
    <bean id = "myCoach"
          class = "C:\Users\F5390087\OneDrive - FRG\Documents\Spring and Hibernate For Beginners\Training\src\main\java\TrackCoach">

    </bean>

    <bean id = "myCricketCoach" 
          class = "C:\Users\F5390087\OneDrive - FRG\Documents\Spring and Hibernate For Beginners\Training\src\main\java\CricketCoach.java">
          
        <!-- Set up setter Injection-->
        <property name="fortuneService" ref="myFortuneService"/>


        <!-- Injection literal values-->
        <property name="emailAddress" value="g@gmail.com"/>
        <!--Inject values from properties file-->
        <property name="team" value="${foo.team}"/>


    </bean>

    
</beans>





